a.out
.vscode/settings.json
bin/*
*.o
*.output 
*.yy.cpp
*.tab.cpp
include/ast/ast_expression.hpp
b.out
add_driver.s
EXEC
temp/ 
.vscode/settings.json
NAME=DESKTOP-DPEP186
.vagrant/*

ubuntu-xenial-16.04-cloudimg-console.log
ubuntu-xenial-16.04-cloudimg-console.log
src/parser.tab.hpp
ubuntu-xenial-16.04-cloudimg-console.log
src/parser.tab.hpp
